*.class
*.class
*.log
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
*.txt
workspace_2.1/DungeonOfDoom/res/score.txt
.metadata/.plugins/org.eclipse.core.resources/.history/82/504c495f5cc100161a7dad57794b7f79
